<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="MediaControlOpt"
        tools:ignore="MissingApplicationIcon">
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <meta-data
            android:name="xposeddescription"
            android:value="优化媒体通知专辑圆角及进度条样式" />

        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>